# {{ ansible_managed }}
127.0.0.1	localhost
::1		    localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters


{% for item in play_hosts %}
{{ hostvars[item]['ansible_all_ipv4_addresses'] | ansible.netcommon.ipaddr(kube_cidr) | first }}  {{ item }}
{% endfor %}
